@font-face{
	font-family: MPLUSRounded1c-Regular;
	src:url( ../fonts/MPLUSRounded1c-Regular.ttf);
}
@font-face{
	font-family: OpenSans-Bold;
	src:url( ../fonts/OpenSans-Bold.ttf);
}
@font-face{
	font-family: OpenSans-Light;
	src:url( ../fonts/OpenSans-Light.ttf);
}
@font-face{
	font-family: OpenSans-SemiBold;
	src:url( ../fonts/OpenSans-SemiBold.ttf);
}